<div class="row justify-content-center">
  <div class="col-12 col-lg-6">
    <%= simple_form_for @message  do |f| %>
      <% if @message.errors.any? %>
        <div class="text-center mt-4 text-danger" id="error_explanation">
          <i><h5><%= pluralize(@message.errors.count, "error") %> prohibited this contact from being saved:</h5></i>
        </div>
      <% end %>
    ​
      <form>
        <%= f.input :name %>
        <%= f.input :email %>
        <%= f.input :message, as: :text %>
        <%= f.button :submit, "Send message", class: "btn-submit" %>
      </form>
    <% end %>
  </div>
​</div>
